[Desktop Entry]
Name=WmInt
Comment=Simple Interrupts Monitor
Comment[pl]=Prosty monitor przerwań
Exec=wmint
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
