[Desktop Entry]
Name=WmInt
Comment=Simple Interrupts Monitor
Comment[pl]=Prosty monitor przerwań
Exec=wmint
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
