[Desktop Entry]
Name=wmint
Comment=Simple Interrupts Monitor
Comment[pl]=Prosty monitor przerwań
Exec=wmint
Terminal=0
Type=Application
# vi: encoding=utf-8
